.box {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.win {
  background-color: rgb(156, 108, 180);
}

.draw {
  background-color: rgb(255, 157, 0);
}
